@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4rem;
  color: white;
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2.6rem;
  }
}

h2, .num__process {
  font-size: 4rem;
  line-height: 3rem;
  font-family: 'Abril Fatface', cursive;
}

@media screen and (max-width: 520px) {
  h2, .num__process {
    font-size: 3rem;
    line-height: 2rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #009AD8;
}

.handwriteMessage {
  font-size: 1rem;
}

.button, .primaryButton, .secondaryButton {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  margin: 1.5rem 0;
  font-weight: 400;
}

.primaryButton {
  color: #d4d4d4;
  background-color: #009AD8;
}

.primaryButton:hover {
  background-color: -50;
}

.secondaryButton {
  background-color: none;
  color: #009AD8;
  -webkit-box-shadow: inset 0 0 0 1px #009AD8;
          box-shadow: inset 0 0 0 1px #009AD8;
}

.linkbutton {
  color: orange;
}

body {
  background-color: #d4d4d4;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #themeToggle {
  margin-left: auto;
  margin-right: 1rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10000;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  nav {
    background-color: rgba(44, 44, 47, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }
  nav .navigation {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem;
  }
  nav .navigation .logo__nav {
    height: 40px;
  }
  nav .navigation .menu__nav {
    z-index: 10000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
  }
  nav .navigation .menu__nav span {
    background-color: #009AD8;
    height: 2px;
    width: 100%;
    position: relative;
    -webkit-transition: 500ms cubic-bezier(0.47, -0.38, 0.52, 1.46);
    transition: 500ms cubic-bezier(0.47, -0.38, 0.52, 1.46);
  }
  nav .navigation .menu__nav span::before, nav .navigation .menu__nav span::after {
    background-color: #009AD8;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-transition: 200ms cubic-bezier(0.47, -0.38, 0.52, 1.46);
    transition: 200ms cubic-bezier(0.47, -0.38, 0.52, 1.46);
  }
  nav .navigation .menu__nav span::after {
    top: 0.5rem;
    width: 80%;
    right: 0;
  }
  nav .navigation .menu__nav span::before {
    bottom: 0.5rem;
    width: 70%;
  }
  nav .nav-toggle {
    display: none;
  }
  nav .nav-toggle:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  nav .nav-toggle:checked ~ .menu__nav span {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    background-color: #d4d4d4;
  }
  nav .nav-toggle:checked ~ .menu__nav span::before, nav .nav-toggle:checked ~ .menu__nav span::after {
    background-color: #d4d4d4;
    width: 100%;
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  nav .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #2c2c2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: 300ms cubic-bezier(0.47, -0.38, 0.52, 1.46);
    transition: 300ms cubic-bezier(0.47, -0.38, 0.52, 1.46);
  }
  nav .menu li {
    list-style: none;
    width: 100%;
    margin: 0.5rem;
  }
  nav .menu li a {
    width: 100%;
    padding: 0.5rem 1rem;
    color: #d4d4d4;
    font-size: 3rem;
    font-weight: 500;
  }
  nav .menu li:last-child > a {
    color: #009AD8;
  }
  header {
    padding: 6rem 1rem 1rem 1rem;
    width: 100%;
    min-height: 95vh;
    background-color: #2c2c2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .myPic {
    margin: 0 auto 2rem auto;
    width: 160px;
  }
  header .box__header h1 {
    line-height: 2.5rem;
    margin: 1rem 0;
  }
  header .box__header p {
    color: #d4d4d4;
  }
  .sellarea, .services, .process, .cases, .tools, .contact {
    min-height: 80vh;
    width: 100%;
    padding: 2rem 1rem;
  }
  .sellarea .title__sellarea, .sellarea .title__services, .sellarea .title__process, .sellarea .title__cases, .sellarea .title__tools, .sellarea .title__contact, .services .title__sellarea, .services .title__services, .services .title__process, .services .title__cases, .services .title__tools, .services .title__contact, .process .title__sellarea, .process .title__services, .process .title__process, .process .title__cases, .process .title__tools, .process .title__contact, .cases .title__sellarea, .cases .title__services, .cases .title__process, .cases .title__cases, .cases .title__tools, .cases .title__contact, .tools .title__sellarea, .tools .title__services, .tools .title__process, .tools .title__cases, .tools .title__tools, .tools .title__contact, .contact .title__sellarea, .contact .title__services, .contact .title__process, .contact .title__cases, .contact .title__tools, .contact .title__contact {
    -webkit-text-stroke: 1px #2c2c2f;
    color: #d4d4d4;
    margin-bottom: 3rem;
  }
  .sellarea .container__sellarea .box__sellarea .info__sellarea p {
    width: 80%;
  }
  .sellarea .container__sellarea .box__sellarea .info__sellarea .image__sellarea {
    width: 90%;
    margin: 2rem auto 1rem auto;
    height: 250px;
    background: url("../images/website-devices.jpg");
    background-origin: center center;
    background-size: cover;
    position: relative;
  }
  .sellarea .container__sellarea .box__sellarea .info__sellarea .image__sellarea::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 100%;
    bottom: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(0, 154, 216, 0.4);
    z-index: -1;
  }
  .services .container__services .box__services .title__services {
    display: block;
    position: relative;
    padding: 1rem 0;
  }
  .services .container__services .box__services .title__services::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    right: 25%;
    top: 0;
    background-color: rgba(0, 154, 216, 0.4);
    z-index: -1;
  }
  .services .container__services .box__services .boxcards__services {
    width: 90%;
    max-width: 280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .services .container__services .box__services .boxcards__services .card__services {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #eee;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }
  .services .container__services .box__services .boxcards__services .card__services:hover {
    background-color: #009AD8;
    color: #d4d4d4;
  }
  .services .container__services .box__services .boxcards__services .card__services h3 {
    margin-bottom: 0.5rem;
  }
  .services .container__services .box__services .boxcards__services .card__services .img__service {
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }
  .services .container__services .box__services .boxcards__services .card__services .img__service .iconify {
    width: 60%;
    height: 60%;
  }
  .process {
    overflow: hidden;
  }
  .process .container__process .box__process .extra__process {
    display: none;
  }
  .process .container__process .box__process .boxcards__process {
    margin-left: -1rem;
    padding: 0 1rem;
    width: 100vw;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    overflow-x: scroll;
  }
  .process .container__process .box__process .boxcards__process::-webkit-scrollbar {
    display: none;
  }
  .process .container__process .box__process .boxcards__process .card__process {
    position: relative;
    background-color: #eee;
    margin: 1rem 0.5rem;
    width: 220px;
    height: 300px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1.5fr;
        grid-template-rows: 1fr 1.5fr;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
  }
  .process .container__process .box__process .boxcards__process .card__process .img__process {
    width: 60px;
    height: 60px;
  }
  .process .container__process .box__process .boxcards__process .card__process .img__process .iconify {
    width: 60%;
    height: 60%;
    color: #009AD8;
  }
  .process .container__process .box__process .boxcards__process .card__process .cardInfo__process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .process .container__process .box__process .boxcards__process .card__process .cardInfo__process .num__process {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  .process .container__process .box__process .boxcards__process .card__process::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0.5rem;
    left: 0.5rem;
    background-color: rgba(0, 154, 216, 0.4);
    z-index: -1;
  }
  .process .container__process .box__process .boxcards__process .card__process:hover {
    background-color: #009AD8;
    color: #d4d4d4;
  }
  .process .container__process .box__process .boxcards__process .card__process:hover .iconify {
    color: #d4d4d4;
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases {
    background-color: rgba(0, 154, 216, 0.4);
    margin: 1rem auto;
    padding: 1rem;
    position: relative;
    margin-top: 6rem;
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases .img__cases {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    top: -3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases .img__cases img {
    width: 100%;
    height: 100%;
    -o-object-position: center center;
       object-position: center center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases h3 {
    margin-top: calc(250px - 2.5rem);
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases .tags__cases {
    font-size: 0.8rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    line-height: 1rem;
    margin: 0.5rem 0 0.3rem 0;
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases .tags__cases li {
    background-color: rgba(212, 212, 212, 0.4);
    padding: 0.1rem 0.5rem;
    list-style: none;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .cases .container__cases .box__cases .boxcards__cases .card__cases .textCard__cases {
    margin-bottom: 0.5rem;
  }
  .tools {
    position: relative;
    z-index: 1;
    height: auto;
  }
  .tools::before {
    position: absolute;
    content: '';
    height: 50%;
    width: 100%;
    background-color: rgba(0, 154, 216, 0.4);
    z-index: -1;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  .tools .container__tools .box__tools .boxcards__tools {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tools .container__tools .box__tools .card__tools {
    height: 80px;
    width: 80px;
    background-color: #f0f0f0;
    margin: 0.25rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .tools .container__tools .box__tools .card__tools .img__tools {
    width: 30px;
    height: 30px;
    -webkit-transform: translateY(0.5rem) scale(1.5);
            transform: translateY(0.5rem) scale(1.5);
    -webkit-transition: 0.5s cubic-bezier(0.47, -0.38, 0.2, 2);
    transition: 0.5s cubic-bezier(0.47, -0.38, 0.2, 2);
  }
  .tools .container__tools .box__tools .card__tools .img__tools .iconify {
    width: 100%;
    height: auto;
  }
  .tools .container__tools .box__tools .card__tools .name__tools {
    color: #009AD8;
    font-weight: 500;
    margin-top: 0.25rem;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    -webkit-transition: 0.5s cubic-bezier(0.47, -0.38, 0.52, 1.46);
    transition: 0.5s cubic-bezier(0.47, -0.38, 0.52, 1.46);
  }
  .tools .container__tools .box__tools .card__tools:hover > .name__tools {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .tools .container__tools .box__tools .card__tools:hover > .img__tools {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .contact .container__contact .box__contact {
    margin-bottom: 2rem;
  }
  .contact .container__contact .box__contact .info__contact {
    width: 240px;
    margin: 0 auto;
    background-color: white;
    padding: 0.5rem;
  }
  .contact .container__contact .box__contact .info__contact .address__contactform, .contact .container__contact .box__contact .info__contact .email__contactform, .contact .container__contact .box__contact .info__contact .phone__contactform {
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
  }
  .contact .container__contact .box__contact .info__contact .address__contactform .icon__contactform, .contact .container__contact .box__contact .info__contact .email__contactform .icon__contactform, .contact .container__contact .box__contact .info__contact .phone__contactform .icon__contactform {
    margin-top: 2px;
  }
  .contact .container__contact .box__contact .info__contact .address__contactform a, .contact .container__contact .box__contact .info__contact .email__contactform a, .contact .container__contact .box__contact .info__contact .phone__contactform a {
    text-decoration: none;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    color: #2c2c2f;
  }
  .contact .container__contact .box__contact .info__contact .address__contactform a:hover, .contact .container__contact .box__contact .info__contact .email__contactform a:hover, .contact .container__contact .box__contact .info__contact .phone__contactform a:hover {
    color: #2c2c2f;
  }
  .contact .container__contact .box__contact .form__contact {
    background-color: rgba(0, 154, 216, 0.4);
    padding: 1rem;
  }
  .contact .container__contact .box__contact .form__contact .inputs__contactform {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .contact .container__contact .box__contact .input__contactform {
    width: auto;
    position: relative;
    margin: 1.5rem auto;
  }
  .contact .container__contact .box__contact .input__contactform label {
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    color: #2c2c2f;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .contact .container__contact .box__contact .input__contactform input, .contact .container__contact .box__contact .input__contactform textarea {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #2c2c2f;
    padding: 0.25rem 0.5rem;
    resize: none;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }
  .contact .container__contact .box__contact .input__contactform input:focus, .contact .container__contact .box__contact .input__contactform textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .container__contact .box__contact .input__contactform input:focus + label, .contact .container__contact .box__contact .input__contactform textarea:focus + label {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    font-size: 0.9rem;
  }
  .contact .container__contact .box__contact .input__contactform input:valid + label, .contact .container__contact .box__contact .input__contactform textarea:valid + label {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    font-size: 0.9rem;
  }
  .contact .container__contact .box__contact .emailSuccess {
    display: none;
    padding: 1rem;
    border: 2px green solid;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .contact .container__contact .box__contact .emailSuccess p {
    color: green;
  }
}
