@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 4rem;
  line-height: 3rem;
  font-family: 'Abril Fatface', cursive;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

strong {
  font-weight: 700;
}

.handwriteMessage {
  font-size: 1rem;
}
