@import 'presets.sass'
@import 'variables.sass'
@import 'typography.sass'
@import 'buttons.sass'



body
    background-color: $bgPriColor
    // background-color: #333

nav
    width: 100%
    height: 80px
    position: fixed
    top: 0

    .navigation
        width: 100%
        max-width: 1200px
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        margin: 0 auto
        padding: 1rem

        .logo__nav
            // width: 40px
            height: 60px

    .menu
        display: none

    #themeToggle
        position: fixed
        bottom: 1rem
        left: 1rem

header, .container__sellarea, .services, .process
    width: 100%
    height: 90vh
    display: grid
    place-items: center
    color: $fontSecColor
    // background-color: $priColor
    
    .container__header
        width: 90%
        max-width: $wrapper
        display: flex
        padding: 1rem
        justify-content: space-between
        // border: 1px yellow dotted

        .box__header
            margin: 7rem 0 auto 0

        h1
            line-height: 3.5rem
            margin-bottom: 1rem
        p
            font-size: 1.3rem
            margin-bottom: 1rem


    .myPic
        // width: 350px
        // height: 450px
        // background-color: red
        

.container__sellarea
    background-color: $bgSecColor
    height: auto
    padding: 15rem 0
    
    .box__sellarea
        width: 850px
        max-width: $wrapper


        .title__sellarea
            -webkit-text-stroke: 1px $bgPriColor
            width: 580px
            margin: 0 0 3rem 0

        .info__sellarea
            width: 100%
            color: $fontPriColor
            display: flex
            justify-content: space-between
            // align-items: center

            p
                max-width: 415px

            .image__sellarea
                position: relative
                width: 305px
                height: 305px
                background-color: grey
                z-index: 100

                &::before
                    content: ''
                    position: absolute
                    width: 66%
                    height: 66%
                    top: 17%
                    left: 200px
                    background-color: rgba($priColor, 0.3)
                    z-index: -1

.services
    background-color: $bgSecColor
    // border: 2px solid red
    height: auto
    padding: 15rem 0

    
    .container__services
        // border: 2px solid blue

        .box__services
            width: 850px
            max-width: $wrapper

            .title__services
                position: relative
                -webkit-text-stroke: 1px $bgPriColor
                width: 580px
                background: transparent !important
                margin: 0 0 8rem 0
                z-index: 100

                &::before
                    content: ''
                    position: absolute
                    width: 200rem
                    height: 100%
                    top: -1.5rem
                    right: 15rem
                    padding: 3rem
                    background-color: rgba($priColor,0.3)
                    z-index: -1


            .boxcards__services
                color: $fontPriColor
                display: flex
                justify-content: space-between
                margin: 

                .card__services
                    padding: 0 1rem 1rem 0.5rem

                    .img__service
                        width: 90px
                        height: 90px
                        background-color: grey
                        margin: 1rem 0




.process
    background-color: $bgSecColor
    border: 2px solid yellow
    height: auto
    padding: 15rem 0
    color: $fontPriColor
    // overflow-x: hidden
    width: 100%
    overflow-x: hidden
    position: relative
     

    .container__process
        .box__process
            width: 850px
            height: 650px
            max-width: $wrapper

            .title__process
                position: relative
                &::after
                    @extend p
                    content: 'Scroll ->'
                    position: absolute
                    bottom: -7rem
                    right: 0
                    margin: 0 0rem

            
            .extra__process

                // hide it til page is done!!
                display: none
                background-color: $priColor
                position: absolute
                top: 0
                right: 0
                width: 200px

            .boxcards__process
                height: 450px
                width: 100%
                border: 1px dotted blue
                display: flex
                // justify-content: center
                align-items: flex-end
                position: absolute
                left: 0
                width: 100vw
                overflow-x: scroll

                &::-webkit-scrollbar
                      display: none
                


                .card__process
                    background-color: white
                    margin: 0 0.5rem
                    width: 250px
                    height: 350px
                    padding: 1rem
                    flex-shrink: 0
                    position: relative
                    display: grid
                    grid-template-rows: 1fr 2fr

                    &:first-child
                        margin-left: 35%
                        
                    &:last-child
                        margin-right: 20rem


                    .num__process
                        @extend h2
                        position: absolute
                        top: 0.5rem
                        right: 0.5rem

                    .img__process
                        height: 80px
                        width: 80px
                        background-color: grey
                    
                    // .cardInfo__process

    
 